.card {
  width: 100%;

  &__img {
    aspect-ratio: 1.13;
    margin-bottom: 16px;
  }

  &__title {
    line-height: 1.2em;
    color: $color-gray-900;
    text-align: center;
    margin-bottom: 8px;
    @include font($font-main, 16px, 700);

    @media screen and (min-width: $tabletMdBreakpoint) {
      font-size: 20px;
    }
  }

  &__subtitle {
    line-height: 1.2em;
    color: $color-gray-700;
    text-align: center;
    @include font($font-main, 12px, 400);

    @media screen and (min-width: $tabletMdBreakpoint) {
      font-size: 14px;
    }
  }
}
