.input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    @include inputLabel;
  }

  &__wrapper {
    position: relative;
  }

  &__input-field {
    width: 100%;
    max-width: 100%;
    position: relative;
    @include inputCommonStyles;

    &::placeholder {
      font-family: $font-main;
      font-weight: 400;
      line-height: 1.5em;
    }

    &_size {
      &_sm {
        @include inputStyleSm;

        &::placeholder {
          font-size: 12px;
        }
      }

      &_md {
        @include inputStyleMd;

        &::placeholder {
          font-size: 14px;
        }
      }

      &_lg {
        @include inputStyleLg;

        &::placeholder {
          font-size: 16px;
        }
      }
    }

    &_theme {
      &_light {
        @include inputStyleLight;

        &::placeholder {
          color: $color-gray-600;
        }

        &:focus {
          background: $color-white;
        }
      }

      &_dark {
        @include inputStyleDark;

        &::placeholder {
          color: $color-gray-200;
        }

        &:focus {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }

    &_error {
      border: 1px solid $color-danger;
    }

    &:focus {
      border: 1px solid rgba(255, 90, 48, 0.4);
      box-shadow:
        0 4px 4px -4px rgba(30, 33, 44, 0.03),
        0 12px 10px -6px rgba(255, 90, 48, 0.04),
        0 30px 24px -10px rgba(255, 90, 48, 0.05),
        0 80px 80px -20px rgba(255, 90, 48, 0.08);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }

  &__error {
    @include inputError;
  }
}
