.input {
  font-family: $font-main;
  font-weight: 400;
  line-height: 1.5em;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  padding: 13px 16px;
  transition: $transition-main;

  &::placeholder {
    font-family: $font-main;
    font-weight: 400;
    line-height: 1.5em;
  }

  &_size {
    &_sm {
      font-size: 12px;
      height: 36px;

      &::placeholder {
        font-size: 12px;
      }
    }

    &_md {
      font-size: 14px;
      height: 44px;

      &::placeholder {
        font-size: 14px;
      }
    }

    &_lg {
      font-size: 16px;
      height: 52px;

      &::placeholder {
        font-size: 16px;
      }
    }
  }

  &_theme {
    &_light {
      color: $color-gray-900;
      border: 1px solid $color-gray-400;
      background-color: $color-gray-200;

      &::placeholder {
        color: $color-gray-600;
      }

      &:focus {
        background: $color-white;
      }
    }

    &_dark {
      color: $color-white;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.12);

      &::placeholder {
        color: $color-gray-200;
      }

      &:focus {
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }

  &_error {
    border: 1px solid $color-danger;
  }

  &:focus {
    border: 1px solid rgba(255, 90, 48, 0.4);
    box-shadow:
      0 4px 4px -4px rgba(30, 33, 44, 0.03),
      0 12px 10px -6px rgba(255, 90, 48, 0.04),
      0 30px 24px -10px rgba(255, 90, 48, 0.05),
      0 80px 80px -20px rgba(255, 90, 48, 0.08);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  display: block;
  width: 100%;
  max-width: 100%;
  @include font($font-main, 16px, 400);
  line-height: 1.6em;
  margin-bottom: 8px;

  &_theme {
    &_light {
      color: $color-gray-800;
    }

    &_dark {
      color: $color-white;
    }
  }

  &_disabled {
    color: $color-gray-400;
  }
}

.input-field {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.error {
  @include font($font-main, 12px, 400);
  color: $color-danger;
  line-height: 1em;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}
