.input {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: $color-white;
  border: 1px solid $color-gray-500;
  transition: $transition-main;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;

  &::after {
    @include pseudo;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: $color-primary;
    border-radius: 50%;
    transition: $transition-main;
    opacity: 0;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:checked {
    border: 1px solid $color-primary;
    transition: $transition-main;

    &::after {
      opacity: 1;
    }
  }
}

.label {
  @include font($font-main, 16px, 400);
  line-height: 1.6em;
  color: $color-gray-800;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &_disabled {
    color: $color-gray-500;
    cursor: not-allowed;
  }
}
