// COLORS
// scss
$color-primary: #ff5a30;
$color-success: #03cea4;
$color-danger: #ff4242;
$color-warning: #f89828;
$color-info: #5a87fc;

$color-orange: #fc3300;

$color-white: #ffffff;
$color-gray-900: #1e212c;
$color-gray-800: #424551;
$color-gray-700: #787a80;
$color-gray-600: #9a9ca5;
$color-gray-500: #b3b7bc;
$color-gray-400: #d7dadd;
$color-gray-300: #e5e8ed;
$color-gray-200: #f4f5f6;
$color-gray-100: #f9f9f9;

// js
:root {
  --color-primary: #{$color-primary};
  --color-success: #{$color-success};
  --color-danger: #{$color-danger};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};

  --color-white: #{$color-white};
  --color-gray-900: #{$color-gray-900};
  --color-gray-800: #{$color-gray-800};
  --color-gray-700: #{$color-gray-700};
  --color-gray-600: #{$color-gray-600};
  --color-gray-500: #{$color-gray-500};
  --color-gray-400: #{$color-gray-400};
  --color-gray-300: #{$color-gray-300};
  --color-gray-200: #{$color-gray-200};
  --color-gray-100: #{$color-gray-100};
}

// UI
$font-main: "Ubuntu", sans-serif;
$transition-main: 0.3s ease;
$transition-switch: 0.2s ease-out;
$transition-select-opt: 0.1s linear;

$navBarHeight: 92px;

$padding-sm: 20px;
$padding-md: 40px;

// breakpoints
$mobileSmBreakpoint: 320px;
$mobileMdBreakpoint: 375px;
$mobileLgBreakpoint: 425px;

$tabletSmBreakpoint: 600px;
$tabletMdBreakpoint: 768px;
$tabletLgBreakpoint: 900px;

$desktopSmBreakpoint: 1024px;
$desktopMdBreakpoint: 1280px;
$desktopLgBreakpoint: 1440px;
$desktopXlBreakpoint: 1920px;
$desktopXXlBreakpoint: 2560px;

// js-breakpoints
:root {
  --desktopSmBreakpoint: "1024px";
}
