// COLORS
// scss
$color-primary: #FF5A30;
$color-success: #03CEA4;
$color-danger: #FF4242;
$color-warning: #F89828;
$color-info: #5A87FC;

$color-orange: #FC3300;

$color-white: #FFFFFF;
$color-gray-900: #1E212C;
$color-gray-800: #424551;
$color-gray-700: #787A80;
$color-gray-600: #9A9CA5;
$color-gray-500: #B3B7BC;
$color-gray-400: #D7DADD;
$color-gray-300: #E5E8ED;
$color-gray-200: #F4F5F6;
$color-gray-100: #F9F9F9;

// js
:root {
  --color-primary: #{$color-primary};
  --color-success: #{$color-success};
  --color-danger: #{$color-danger};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};

  --color-white: #{$color-white};
  --color-gray-900: #{$color-gray-900};
  --color-gray-800: #{$color-gray-800};
  --color-gray-700: #{$color-gray-700};
  --color-gray-600: #{$color-gray-600};
  --color-gray-500: #{$color-gray-500};
  --color-gray-400: #{$color-gray-400};
  --color-gray-300: #{$color-gray-300};
  --color-gray-200: #{$color-gray-200};
  --color-gray-100: #{$color-gray-100};
}

// UI
$font-main: "Ubuntu", sans-serif;
$transition-main: 0.3s ease;
$transition-switch: 0.2s ease-out;
$transition-select-opt: 0.1s linear;

// breakpoints
$mobileSmBreakpoint: 320px;
$mobileMdBreakpoint: 375px;
$mobileLgBreakpoint: 425px;

$tabletSmBreakpoint: 600px;
$tabletMdBreakpoint: 768px;
$tabletLgBreakpoint: 900px;

$desktopSmBreakpoint: 1024px;
$desktopMdBreakpoint: 1280px;
$desktopLgBreakpoint: 1440px;
$desktopXlBreakpoint: 1920px;
$desktopXXlBreakpoint: 2560px;